*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}

body{
  /* background-image: linear-gradient(to left, #d1bb6b, #eaaa69, #fe9876, #ff8891, #ff80b3, #ff80b3, #ff81b2, #ff81b2, #ff8e8a, #ffae61, #ffd548, #c5fb5f); */
  /* background-image: linear-gradient(to left, #d1bb6b, #d5bf70, #dac275, #dec67a, #e2ca7f, #e5ca7e, #e8ca7c, #ebca7b, #efc673, #f3c26c, #f7be65, #fbba5f); */
  /* background-image: linear-gradient(to left bottom, #6c66a9, #a166a0, #c56b8e, #d87a79, #db916a, #d09a5f, #c1a45a, #adad5c, #95a955, #7aa452, #5d9f53, #379956); */
  background-image: radial-gradient(circle, #c3e2cf, #a6cbb2, #8bb494, #719d77, #59875a, #507e4d, #47743f, #3f6b32, #426c30, #456d2f, #486d2d, #4b6e2b);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#lead{
  text-align: right;
  font-weight: 800;
}


.container1{
  /* background-color: #1E9E93; */
  max-width: 700px;
  margin: auto;
  width: 100%;
  padding: 10px 20px;
  background: white;
  border-radius: 20px;
  background-image: linear-gradient(to left bottom, #6693a9, #5a90b5, #568cc1, #6085ca, #747ccf, #7a72cb, #8168c5, #895dbe, #7e53b5, #724aab, #6740a2, #5b3799);
}

.inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.blocks{
  width: calc(100% /2 - 20px);
  padding-top: 30px;
}

.blocks input{
  height: 45px;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
  border-bottom-width: thick;
  border-top-width: thin;

}

.blocks span{
  display: block;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
  margin-bottom: 5px;
}

.button{
  text-align: right;
}

.button input{
  height: 25px;
  width: 25%;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 500;
  font-family: serif;
  background-image: linear-gradient(to left, #d1bb6b, #d5bf70, #dac275, #dec67a, #e2ca7f, #e5ca7e, #e8ca7c, #ebca7b, #efc673, #f3c26c, #f7be65, #fbba5f);
}


#ouput{
  text-align: right;
  font-weight: 800;
}